* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

    .nav{
list-style-type: none;
display: flex;
justify-content: flex-end;
align-items: center;
overflow: hidden;
background-color: #1d364f;
border-radius: 7px;
}

.nav li{
float: right;
}

.nav li a{
display: block;
color: white;
text-align: center;
padding: 11px 12px;
text-decoration: none;
}

.nav li a:hover{
background-color: greenyellow;
}

.logo{
color: #f3fdfa;
font-size: 2rem;
font-weight: 700;
text-decoration: none;
padding: 10px;
}

#home{
border-radius: 5px;
background-image: url(" ");
color: #efeaea;
height: auto;
font-size: 1.3rem;
}

.hey{
text-align: center;
margin-top: 20px;
}


p{
margin: 10px 50px;
font-size: 1.3rem;
}

#services{
height: auto;
color: #efe0e0;
}

li{
margin: 10px;
font-weight: bold;
color: #f3fdfa;
}

h1{
text-align: center;
padding-top: 40px;
color: #efe0e0;
}

h2{
margin-left: 50px;
color: #efeaea;
}

body{
background: linear-gradient(rgb(21, 21, 103), black);
}

.em{
padding-top: 30px;
font-size: 3rem;
}

img{
display: block;
margin: 0 auto;
border-radius: 50%;
border: solid 3px white;
}

ul{
text-align: center;
list-style-type: none;
font-weight: bolder;
color: bisque;
}

.me{
font-size: 4rem;
padding: 40px;
text-align: center;
}

.em{
font-size: 3rem;
text-align: center;
}

button{
background-color: goldenrod;
border: solid 3px transparent;
border-radius: 5px;
padding: 5px;
font-size: large;
font-weight: 600;
margin: 50px;
}

button a{
text-decoration: none;
color: #232222;
}

button:hover{
color: grey;
background-color: greenyellow;
}

.contact {
        height: auto;
        color: blue;
        text-align: center;
    }

h3{
font-size: 1.5rem;
}

.info{
margin-top: 22px;
}

.footer {
background-color: #333;
color: white;
padding: 20px;
text-align: center
}

small{
font-size: 0.8rem;
}