body{
    background-color: black;
    text-align: center;
}

p, h1, h2, h3{
    color: orangered;
    font-family: 'Courier New', Courier, monospace;
}

button{
    border: solid 2px rgba(255, 0, 0, 0.292);
    border-radius: 4px;
    margin: 20px;
    color: white;
    background-color: black;
}

 button, a{
    font-weight: bold;
}


