 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('images/photo-1521587760476-6c12a4b040da.jpeg');
  background-position: 50% 50%, 50% 50%;
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 731px;
}

.u-section-1 .u-text-1 {
  margin: 192px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 29px auto 0 0;
}

.u-section-1 .u-text-3 {
  margin: 47px 422px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin: 29px auto 60px 1px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 603px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 222px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 616px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 2px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 462px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 291px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-accordion-1 {
  margin-bottom: 80px;
  margin-top: 80px;
}

.u-section-2 .u-accordion-link-1 {
  font-size: 1.875rem;
}

.u-section-2 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px;
}

.u-section-2 .u-accordion-link-2 {
  font-size: 1.875rem;
}

.u-section-2 .u-icon-2 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px;
}

.u-section-2 .u-accordion-link-3 {
  font-size: 1.875rem;
}

.u-section-2 .u-icon-3 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-3 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px;
}

.u-section-2 .u-accordion-link-4 {
  font-size: 1.875rem;
}

.u-section-2 .u-icon-4 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-4 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-4 {
  padding: 20px;
}

.u-section-2 .u-accordion-link-5 {
  font-size: 1.875rem;
}

.u-section-2 .u-icon-5 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-5 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-5 {
  padding: 20px;
}

@media (max-width: 767px) {
  .u-section-2 .u-accordion-link-1 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-accordion-link-2 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-accordion-link-3 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-accordion-link-4 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-accordion-link-5 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('images/photo-1505547828843-176834e42154.jpeg');
}

.u-section-3 .u-sheet-1 {
  min-height: 551px;
}

.u-section-3 .u-group-elements-1 {
  width: 304px;
  min-height: 307px;
  margin: 70px auto 0 0;
}

.u-section-3 .u-text-1 {
  margin: 0;
}

.u-section-3 .u-text-2 {
  margin: 22px 106px 0 0;
}

.u-section-3 .u-text-3 {
  margin: 17px auto 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-4 {
  margin: 21px auto 0 0;
}

.u-section-3 .u-text-5 {
  margin: 19px auto 0 0;
}

.u-section-3 .u-social-icons-1 {
  height: 44px;
  min-height: 16px;
  width: 160px;
  min-width: 76px;
  margin: 16px auto 0 0;
}

.u-section-3 .u-icon-1 {
  height: 100%;
}

.u-section-3 .u-icon-2 {
  height: 100%;
}

.u-section-3 .u-icon-3 {
  height: 100%;
}

.u-section-3 .u-group-elements-2 {
  width: 198px;
  min-height: 211px;
  margin: -232px auto 60px 334px;
}

.u-section-3 .u-text-6 {
  margin: 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  margin: 22px 148px 0 0;
  padding: 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  margin: 30px 146px 0 0;
  padding: 0;
}

.u-section-3 .u-btn-4 {
  background-image: none;
  margin: 19px 154px 0 0;
  padding: 0;
}

.u-section-3 .u-btn-5 {
  background-image: none;
  margin: 22px 132px 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 454px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 348px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 261px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 616px;
  }

  .u-section-3 .u-group-elements-2 {
    height: auto;
    margin-top: 17px;
    margin-bottom: 15px;
    margin-left: 0;
  }
}